#container-2 {
  padding-right:50%;
  /*padding-top:10%;*/
  padding-bottom:10%;
}

#text-center-main {
  font-size:300%;
  padding-top:7%;
}

.logo-div {
  padding-top:7%;
  padding-right:11%;
  /*margin-top:0%;*/
}

.brand-logo {
  float:right;
  width:20%;
  padding-top:3%;
}

#email-subscribe {
  padding-top:7%;
  padding-bottom:7%;
}

#zoom {
  position:relative;
  /*width:480px;*/
  /*height:320px;*/
  overflow:hidden;
  -webkit-transition:0.6s ease;
  transition:0.6s ease;
  /*-webkit-transition:0.6s ease;*/
  /*transition:0.6s ease;*/
}

#zoom:hover {
  /*padding:10%;*/
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

#icon-service {
  width:60%;
}

#icon-service-design {
  width:47%;
}

#icon-service-sale {
  width:39.3%;
}

#icon-service-phone {
  width:64.5%;
}

#text-center {
  margin-top:-9%;
  padding-left:13%;
}

#top-bar-logo {
  width:24%;
}

#nav-bar {
  margin-top:-5%;
  /*margin-left:7%;*/
}

#nav-bar-logo-text {
  /*margin-left:0%;*/
}

#top-container {
  padding-top:3%;
}

#admin-logo {
  width:60%;
}

#contact_us {
  padding-bottom:7%;
  padding-top:5%;
}

#heading_getInTouch {
  text-align:center;
}

#row_getInTouch {
  padding-top:6%;
  padding-bottom:6%;
}

#column_1 {
  padding-bottom:10%;
}

#heading4 {
  padding-top:9%;
}

#top-nav {
  padding-left:12%;
}

#block-location {
  /*margin-top:-5%;*/
}

#drag-drop {
  /*margin-top:11%;*/
}

#select_option{
  width: 25%;
  border-radius: 5%;
  padding: 1%;
}

.wrapper2{
  padding-top: 5%;
  margin-left: -10%;
}

#upload_file{
  /*background: black;*/
}

